exportPattern("^[[:alpha:]]+")

# dependencies
import(crayon)
import(magrittr)
import(RColorBrewer)
import(stringr)
import(vioplot)
import(psych)
import(reshape2)
import(CRISPRcleanR)

importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "axis", "boxplot", "legend", "par", "points")
importFrom("stats", "cor", "density", "median", "t.test")
importFrom("utils", "download.file")

# package functions
export(HT29R.downloadRefData)
export(HT29R.FCdistributions)
export(HT29R.evaluateReps)
export(HT29R.expSimilarity)
export(HT29R.PhenoIntensity)
export(HT29R.ROCanalysis)
export(HT29R.FDRconsensus)
export(HT29R.runCrisprQC_Analysis)


